@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #101010;
	font-family: 'Myriad Pro', sans-serif;
	overflow-x: hidden;
}

.header {
	width: 100%;
	height: 120px;
	background: #101010;
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index: 10;
}

.header .logo {
	margin-left: 60px;
	margin-top: 10px;
	border: 0;
}

.nav {
	list-style: none;
	float: right;
	margin-top: 39px;
}

.nav li {
	display: inline-block;
	width: 120px;
	height: 42px;
	border-radius: 5px;
	margin-right: 32px;
	padding-top: 8px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
}

.nav a {
	color: #d4af37;
	text-decoration: none;
}

.nav li.active {
	background: #282828;
	box-shadow: 1px 1px 1px #000 inset;
}

/* ---- Home Styles ---- */

.slideshow {
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.slideshow-arrow {
	position: absolute;
	top: 50%;
	right: 2%;
	margin-top: -23px;
	z-index: 2;
	cursor: pointer;
}

.slideshow-arrow:first-child {
	left: 0;
	margin-left: 2%;
}

.slide {
	position: absolute;
	z-index: 0;
	width: 100%;
}

.slide.active {
	z-index: 1;
}

.well {
	margin-top: 20px;
	width: 47%;
	min-height: 461px;
	background: #333;
	border-radius: 5px;
	margin-bottom: 40px;
	padding: 20px;
	display: inline-block;
	box-shadow: 1px 1px 1px #000 inset;
}

.well h2 {
	color: #d4af37;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
}

.well hr {
	margin-top: 10px;
	border-color: #d4af37;
}

.featured-events {
	margin-left: 2%;
	float: left;
}

.featured-events h3 {
	font-weight: normal;
	color: #d4af37;
	margin-top: 30px;
}

.featured-events p {
	color: #a6a6a6;
	margin-top: 5px;
}

.featured-events .truncated {
	color: #d4af37;
	text-decoration: none;
}

.featured-products {
	margin-left: 2%;
}

.products-list {
	width: 47%;
	list-style: none;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 2%;
	float: left;
}

.products-list:first-child {
	margin-right: 0;
}

.products-list li {
	margin-top: 5px;
}

.products-list a {
	color: #d4af37;
	text-decoration: none;
}

.products-list a:hover {
	color: #fff;
}

.footer {
	width: 100%;
	height: 60px;
}

/* ---- Products ---- */

.ninesixty {
	width: 960px;
	margin: 20px auto;
	overflow: auto;
}

.category-container h2, .categories h2 {
	color: #d4af37;
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.product-category {
	width: 280px;
	height: 280px;
	border-radius: 10px;
	background: #1c1c1c;
	box-shadow: 1px 1px 4px #050505 inset;
	float: left;
	margin-right: 60px;
	margin-bottom: 60px;
	cursor: pointer;
}

.product-category img {
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px #000;
}

.product-category h3 {
	color: #a6a6a6;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
}

.product-category:nth-of-type(3) {
	margin-right: 0;
}

.product-category:nth-of-type(6) {
	margin-right: 0;
}

.products {
	width: 100%;
}

.products tr {
	width: 100%;
	color: #a6a6a6;
}

.products tr {
	background: #151515;
}

.products tr.odd {
	background: #1c1c1c;
}

.products tr th {
	height: 42px;
	font-weight: normal;
}

.products tr td {
	height: 42px;
	padding-left: 20px;
}

.products .first-row td {
	border-top: 1px solid #fff;
}

.category p {
	color: #a6a6a6;
	cursor: pointer;
	position: relative;
	top: -50px;
}

.productsGrid {
	width: 100%;
}

.productsGrid .gridCell {
	width: 320px;
	height: 320px;
	float: left;
}

.productsGrid .gridCell .productWell {
	width: 280px;
	height: 280px;
	background: #1c1c1c;
	box-shadow: 1px 1px 4px #050505 inset;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
}

.productsGrid .gridCell .productWell .productThumb {
	width: 240px;
	height: 200px;
	background-size: cover;
	border-radius: 10px;
	position: relative;
	top: 20px;
	margin-left: 20px;
	box-shadow: 0 0 5px #000;
}

.productsGrid .gridCell .productWell p {
	display: block;
	position: relative;
	top: 30px;
	text-align: center;
}

.shade {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #333;
	background: rgba(0,0,0,0.6);
}

.singleProduct {
	width: 640px;
	height: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -320px;
	z-index: 10;
	background: #1c1c1c;
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
}

.singleProduct .close-button {
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	box-shadow: 0 0 5px #000 inset;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #d4af37;
	font-family: 'Palatino Linotype';
	font-size: 28px;
	text-align: center;
}

.singleProduct h2 {
	margin-top: 20px;
}

.singleProduct .productImage {
	width: 90%;
	height: 240px;
	margin: 0 auto;
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 0 10px #000 inset;
}

.productFeatures {
	list-style: none;
}

.productFeatures div {
	float: left;
	width: 33%;
	height: 100px;
	margin-top: 25px;
	border-left: 1px solid #444;
	text-align: center;
	position: relative;
}

.productFeatures div:first-of-type {
	border-left: 0;
}

.feature-icon {
	position: absolute;
	left: 50%;
	margin-left: -40px;
}

.productFeatures div p {
	color: #a6a6a6;
	font-size: 22px;
	margin-top: 80px;
}

.buy-button {
	width: 80px;
	height: 40px;
	margin-top: 32px;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0 0 10px #000;
	background: rgb(252,234,187);
	background: -moz-linear-gradient(-45deg,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: linear-gradient(135deg,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
}

.buy-button:hover {
	cursor: pointer;
	background: rgb(253,241,209);
	background: -moz-linear-gradient(-45deg,  rgba(253,241,209,1) 0%, rgba(253,220,131,1) 50%, rgba(255,206,71,1) 51%, rgba(252,233,180,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(253,241,209,1)), color-stop(50%,rgba(253,220,131,1)), color-stop(51%,rgba(255,206,71,1)), color-stop(100%,rgba(252,233,180,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(253,241,209,1) 0%,rgba(253,220,131,1) 50%,rgba(255,206,71,1) 51%,rgba(252,233,180,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(253,241,209,1) 0%,rgba(253,220,131,1) 50%,rgba(255,206,71,1) 51%,rgba(252,233,180,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(253,241,209,1) 0%,rgba(253,220,131,1) 50%,rgba(255,206,71,1) 51%,rgba(252,233,180,1) 100%);
	background: linear-gradient(135deg,  rgba(253,241,209,1) 0%,rgba(253,220,131,1) 50%,rgba(255,206,71,1) 51%,rgba(252,233,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf1d1', endColorstr='#fce9b4',GradientType=1 );
}

/* ---- Contact ---- */

.contact {
	width: 960px;
	margin: 20px auto;
	padding: 20px;
	background: #282828;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #000 inset;
	overflow: auto;
}

.contact h1 {
	color: #d4af37;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contact form {
	width: 480px;
	float: left;
}

.contact form label {
	display: block;
	margin-top: 20px;
	color: #d4af37;
	font-size: 22px;
}

.contact form label:first-of-type {
	margin-top: 0;
}

.contact form label input, .contact form label textarea {
	display: block;
	margin-top: 5px;
	padding-left: 10px;
	background: #1c1c1c;
	border: 1px solid #333;
	border-radius: 5px;
	color: #a6a6a6;
	font-size: 18px;
	resize: none;
}

.contact form label input {
	width: 320px;
	height: 35px;
}

.contact form label textarea {
	width: 480px;
	height: 240px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 20px;
}

.contact form button {
	width: 120px;
	height: 42px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	background: #d4af37;
	background: -moz-linear-gradient(top,  #d4af37 0%, #d19900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4af37), color-stop(100%,#d19900));
	background: -webkit-linear-gradient(top,  #d4af37 0%,#d19900 100%);
	background: -o-linear-gradient(top,  #d4af37 0%,#d19900 100%);
	background: -ms-linear-gradient(top,  #d4af37 0%,#d19900 100%);
	background: linear-gradient(to bottom,  #d4af37 0%,#d19900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4af37', endColorstr='#d19900',GradientType=0 );
	color: #333;
	font-size: 17px;
}

.contact p {
	width: 380px;
	float: right;
	color: #a6a6a6;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ---- Footer ---- */

.footer p {
	color: #a6a6a6;
	float: right;
	margin-top: 20px;
	margin-right: 2%;
}