
<div class="contact">
	<h1>Contact Us</h1>
	<form action="" method="post" enctype="multipart/form-data">
		<label for="name">Name<input type="text" id="name" name="name" placeholder="Your Name" /></label>
		<label for="email">Email<input type="text" id="email" name="email" placeholder="Your Email" /></label>
		<label for="phone">Phone<input type="text" id="phone" name="phone" placeholder="Your Phone Number" /></label>
		<label for="message">Message<textarea id="message" placeholder="Your Message"></textarea></label>
		<button type="submit">Send</button>
	</form>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis nec neque quis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Curabitur nec velit urna. Nam erat justo, facilisis ac turpis sit amet, vulputate porta ipsum. Morbi pellentesque nisl sed posuere ultricies. Etiam vulputate sagittis erat a molestie. Mauris gravida leo a lobortis interdum. Proin ut ante eget odio malesuada faucibus. Maecenas et est a lectus bibendum auctor in eu velit. Pellentesque ac congue felis. Donec sed porta lorem. Sed a massa justo. Nam eget nulla dui. Nunc lectus odio, blandit et ligula at, laoreet tincidunt ligula.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis nec neque quis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Curabitur nec velit urna. Nam erat justo, facilisis ac turpis sit amet, vulputate porta ipsum. Morbi pellentesque nisl sed posuere ultricies. Etiam vulputate sagittis erat a molestie. Mauris gravida leo a lobortis interdum. Proin ut ante eget odio malesuada faucibus. Maecenas et est a lectus bibendum auctor in eu velit. Pellentesque ac congue felis. Donec sed porta lorem. Sed a massa justo. Nam eget nulla dui. Nunc lectus odio, blandit et ligula at, laoreet tincidunt ligula.</p>
</div>
