
<div class="slideshow" slideshow>
	<img ng-click="previous()" src="images/slideshow-left.png" alt="Previous" class="slideshow-arrow" />
	<img ng-click="next()" src="images/slideshow-right.png" alt="Next" class="slideshow-arrow" />
	<img ng-repeat="slide in slides" ng-src="{{ slide.source }}" alt="" ng-class="{active: $index == current}" class="slide" />
</div>

<div class="featured-events well" featured-events>
	<h2>Events</h2>
	<hr />

	<div ng-repeat="event in events">
		<h3>{{ event.title }}</h3>
		<p>{{ event.description }} <a href="" class="truncated">( . . . )</a></p>
	</div>
</div>

<div class="featured-products well" featured-products>
	<h2>Products</h2>
	<hr />
	<ul class="products-list">
		<li ng-repeat="product in productsOne"><a href="">+ {{ product.name }}</a></li>
	</ul>
	<ul class="products-list">
		<li ng-repeat="product in productsTwo"><a href="">+ {{ product.name }}</a></li>
	</ul>
</div>
