
<div class="slideshow">
	<img src="images/slides/1.jpg" alt="" class="slide" />
</div>

<div class="events-container well">
	<h2>Events</h2>
	<hr />

	<h3>Friday Night Magic</h3>
	<p>Stop by every friday night for Friday Night Magic with your friends and enjoy an entire night of spell-slinging and monster-crushing. There are ‘Two-Headed Giants’ every other week sponsored by <a href="" class="truncated">( . . . )</a></p>

	<h3>Battletech League</h3>
	<p>Battletech League is held every Saturday for a month or so to get this rolling. Bring your mechs and learn to play. If you don’t have any, just show up and learn. Free to play. And after seeing Pacific Rim <a href="" class="truncated">( . . . )</a></p>

	<h3>Pathfinder Society Events</h3>
	<p>The Pathfinder society is exploding here at Hastur! Also, we’re planning on not one, but two really great special events here in March. For Saturday, March 16th from 10am to 10pm, Phillip will be running a full day module at <a href="" class="truncated">( . . . )</a></p>
</div>

<div class="products-container well">
	<h2>Products</h2>
	<hr />
	<ul class="products-list">
		<li><a href="">+ Zombie Dice</a></li>
		<li><a href="">+ Magic the Gathering</a></li>
		<li><a href="">+ Munchkin</a></li>
		<li><a href="">+ Munchkin Apocalypse</a></li>
		<li><a href="">+ Munchkin Cthulu</a></li>
		<li><a href="">+ Munchkin Bites!</a></li>
		<li><a href="">+ Conan Munchkin</a></li>
		<li><a href="">+ Zombie Munchkin</a></li>
		<li><a href="">+ Star Munchkin</a></li>
		<li><a href="">+ Ticket to Ride</a></li>
		<li><a href="">+ Ticket to Ride: Europe</a></li>
		<li><a href="">+ Ticket to Ride: Germany</a></li>
		<li><a href="">+ Ticket to Ride: Nordic Countries</a></li>
	</ul>
	<ul class="products-list">
		<li><a href="">+ Warhammer 40,000</a></li>
		<li><a href="">+ Warhammer 40,000: Dark Vengeance</a></li>
		<li><a href="">+ Warhammer 40,000: Apocalypse</a></li>
		<li><a href="">+ Warhammer 40,000: Blitz</a></li>
		<li><a href="">+ Battlestar Galactica</a></li>
		<li><a href="">+ Battlestar Galactica: Exodus</a></li>
		<li><a href="">+ Battlestar Galactica: Pegasus</a></li>
		<li><a href="">+ Tsuro</a></li>
		<li><a href="">+ Tsuro of the Seas</a></li>
		<li><a href="">+ Dixit</a></li>
		<li><a href="">+ Castle Panic</a></li>
		<li><a href="">+ Gloom</a></li>
		<li><a href="">+ Elder Sign</a></li>
	</ul>
</div>
