
<div class="ninesixty" product-container>
	<div class="categories" ng-if="!viewingCategory">
		<h2>Products</h2>
		<div class="product-category" ng-click="viewCategory(category)" ng-repeat="category in productCategories">
			<img ng-src="{{ category.image }}" alt="{{ category.name }}" class="category-image" />
			<h3>{{ category.name }}</h3>
		</div>
	</div>

	<div class="category" ng-if="viewingCategory">
		<h2>{{ category.name }}</h2>
		<p ng-click="viewingCategory = false">Back to Products</p>

		<!-- Games -->
		<div class="productsGrid" ng-if="viewingCategory == 'Board Games' || viewingCategory == 'Card Games' || viewingCategory == 'Table-Top Games'">
			<div class="gridCell" ng-repeat="product in products">
				<div class="productWell" ng-click="viewProduct(product)">
					<div class="productThumb" style="background: url('{{ product.thumb }}');"></div>
					<p>{{ product.name }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="shade" ng-if="viewingProduct" ng-click="viewingProduct = false"></div>

	<!-- Single Game -->
	<div class="singleProduct" ng-show="viewingProduct">
		<div class="close-button" ng-click="viewingProduct = false">X</div>
		<!-- <img src="images/close-button.png" alt="Close" class="close-button" /> -->
		<h2>{{ currentProduct.name }}</h2>
		<div style="background-image: url('{{ currentProduct.image }}'); background-position: center center; background-size: cover;" class="productImage"></div>
		<div class="productFeatures">
			<div><img src="images/players.png" alt="Players" title="Players" class="feature-icon" /><p>{{ currentProduct.players }}</p></div>
			<div><img src="images/clock.png" alt="Playtime" title="Playtime" class="feature-icon" style="margin-top: -3px;" /><p>{{ currentProduct.playtime }}</p></div>
			<div><button class="buy-button">Buy</button></div>
		</div>
	</div>
</div>
