
<div class="ninesixty">
	<div class="category-container" category>
		<h2>{{ categoryName }}</h2>
		<p><a href="#products/">Back to Products</a></p>

		<!-- Games -->
		<div class="productsGrid">
			<div class="gridCell" ng-repeat="product in products">
				<div class="productWell" ng-click="viewProduct(product)">
					<div class="productThumb" style="background-image: url({{ product.thumb }})"></div>
					<p>{{ product.name }}</p>
				</div>
			</div>
		</div>

		<div class="shade" ng-if="viewingProduct" ng-click="closeLightbox()"></div>

		<!-- Single Game -->
		<div class="singleProduct" ng-show="viewingProduct">
			<div class="close-button" ng-click="closeLightbox()">X</div>
			<!-- <img src="images/close-button.png" alt="Close" class="close-button" /> -->
			<h2>{{ product.name }}</h2>
			<div style="background-image: url({{ product.image }})" class="productImage"></div>
			<div class="productFeatures">
				<div><img src="images/players.png" alt="Players" title="Players" class="feature-icon" /><p>{{ product.players }}</p></div>
				<div><img src="images/clock.png" alt="Playtime" title="Playtime" class="feature-icon" style="margin-top: -3px;" /><p>{{ product.playtime }}</p></div>
				<div><button class="buy-button">Buy</button></div>
			</div>
		</div>
	</div>
</div>
