<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Hastur's Games and Comics</title>
	<link rel="stylesheet" href="css/beauty.css" />
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</head>
<body>

	<div class="container" ng-app="hasturs">
		<div class="header">
			<a href="home/"><img src="images/logo.png" alt="Hastur's Games and Comics" class="logo" /></a>
			<ul class="nav" navigation>
				<a href="#/home" ng-click="setActive('home')"><li ng-class="{active: activeView == 'home'}">HOME</li></a>
				<a href="#/products" ng-click="setActive('products')"><li ng-class="{active: activeView == 'products'}">PRODUCTS</li></a>
				<a href="#/events" ng-click="setActive('events')"><li ng-class="{active: activeView == 'events'}">EVENTS</li></a>
				<a href="#/contact" ng-click="setActive('contact')"><li ng-class="{active: activeView == 'contact'}">CONTACT</li></a>
			</ul>
		</div>

		<div ng-view></div>

		<div class="footer">
			<p>All Content Copyright &copy; Hastur Games and Comics 2013  - All Rights Reserved</p>
		</div>
	</div>

</body>
</html>